header#header.header
    .nav-wrapper
        .logo
            a(href='/') Directory Remover
        .menu
            a(href='/settings') Settings
            a(href='/logout') Logout
            
        