html
    head
        title Error!  
        link(href='css/main.css', rel='stylesheet')
    body
        .wrapper
            h2(style='color: red; font-size: large;') Error!
            .msg
                p #{message}