html
    head
        title Directory Remover
        link(href='css/main.css', rel='stylesheet')
    body
        include includes/head
        .wrapper
            a(href='remove')
                button.btn.red(type="button") Remove folder